* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: -apple-system, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
.container{
    width: 100%;
    margin: 0;
    padding: 100px 200px;
    flex: 1;
}

.header {
    position: sticky;
    width: 100%;
    margin: 0;
    padding: 2px 200px;
    top: 0;
    height: 75px;
    background: #1F2937;
    color: white;
    display: flex;
    
    align-items: center;
  }

#hero.container {
    display: flex;
    background: #1F2937;
    flex: 1;
}

#products.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#products-heading {
    margin: auto;
}

.product-listing {
    max-width: 180px;
}

.product-description {
    text-align: center;
}

.product-carusel {
    display: flex;
    justify-content: space-evenly;
}

.client-reference {
    display: flex;
    background-color: grey;
    flex: 1;
}

.cta-container {
    display: flex;
    flex: 1;
}

.footer {
    height: 72px;
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.logo{
    width: 100px;
    height: auto;
}

ul{
    list-style: none;
}

.nav-menu-links{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 12px;
}

.nav-menu-links, .subtext{
    font-size: 18px;
    color: #E5E7EB
}

.hero-image{
    width: 540px;
    height: auto;
}

.product-illustration{
    width: 180px;
    height: auto;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: 700px;
}